extends layout.pug
block content
    h1=game.title
    h2=game.publisher
    h2=game.developer
    ul
        each user in game.user_ratings
            li #{user.Rating.overall} #{user.Rating.createdAt}
    form(method="post" action=`/games/${game.id}`)
        input(name='overall' placeholder='overall')
        button(type="submit") Submit