extends layout.pug

include includes/stars.pug
include includes/utils.pug

append head
    link(rel='stylesheet' type="text/css" href='/stylesheets/game.css')
    script(type="application/javascript" src='/js/gameScript.js')

block content
    div(class='main')
        div(class='main__sidebar')
            +createImg(game, 'main__sidebar-img')
            +loadStars(game.overallRating, 'Overall Rating: ')
            select(class='main__sidebar-status')
                option(class='main__sidebar-status-option') -- Played Status --
                option(class='main__sidebar-status-option') Played
                option(class='main__sidebar-status-option') Currently Playing
                option(class='main__sidebar-status-option') Want to Play
                if libraries
                    each library in libraries
                        option(class='main__sidebar-status-option') #{library.name}
        div(class='main__games')
            div(class='main__game-info')
                h3(class='main__game-info-title')=game.title
                label(for="publisher") Publisher(s):
                li(class='main__game-info-publisher' name='publisher')=game.publisher
                label(for="developer") Developer(s):
                li(class='main__game-info-developer' name='developer')=game.developer
                label(for="releaseDate") Release Date:
                li(class='main__game-info-releaseDate' name='releaseDate')=releaseDate
                label(for="description") Description:
                li(class='main__game-info-description' name='description')=game.description
            div(class='main__game-ratings')
                div(class='main__game-ratings-add')
                    h3(class='main__game-ratings-add-h3') Add Rating/Review
                    +createStars()
                    textarea(class='main__game-ratings-add-review' placeholder='Please enter your review here')
                    button(class='main__game-ratings-add-button' name='POST') Submit
                div(class='main__game-ratings-edit main__game--hidden')
                    h3 Your Rating/Review
                    button(class='main__game-ratings-edit-button') Edit
                    button(class='main__game-ratings-delete-button') Delete
                    div(class='main__game-ratings-existing')

                div(class='main__game-ratings-all')
                    h3 Rating/Reviews
                    each user in users
                        if user.id !== userId
                            div(class='main__game-ratings-single')
                                p=user.userName
                                +loadStars(user.Rating.overall)
                                div(class='main__game-ratings-review') #{user.Rating.body}

                    //- each rating in ratings
