extends layout.pug

include includes/stars.pug
include includes/utils.pug


append head
    link(rel='stylesheet' type="text/css" href='/stylesheets/authorized.css')
    link(rel='stylesheet' type="text/css" href='/stylesheets/game.css')
    script(type="application/javascript" src='/js/gameScript.js')

block content
    div(class='main')
        div(class='main__sidebar')
            +createImg(game, 'main__sidebar-img')
            +loadStars(game.overallRating, 'Overall Rating: ')
            if req.session.user
                div(class='main__sidebar-status')
                    select(class='main__sidebar-status-select')
                        option(class='main__sidebar-status-option') -- Played Status --
                        option(class='main__sidebar-status-option' disabled) --------------
                        option(class='main__sidebar-status-option') Played
                        option(class='main__sidebar-status-option') Currently Playing
                        option(class='main__sidebar-status-option') Want to Play
                        option(class='main__sidebar-status-option' disabled) --------------
                        if libraries
                            each library in libraries
                                option(class='main__sidebar-status-option' id=`${library.id}`) #{library.name}
                if playedStatus === undefined
                    div(class='main__sidebar-status-container main__game--hidden')
                        label(class='main__sidebar-status-label') Play Status:
                        li(class='main__sidebar-status-played') Loading ⧗
                else
                    div(class='main__sidebar-status-container')
                        label(class='main__sidebar-status-label') Play Status:
                        li(class='main__sidebar-status-played') #{playedStatus}
                div(class='main__sidebar-library-container main__game--hidden')
                    label(class='main__sidebar-library-label') Library Status Update:
                    li(class='main__sidebar-library-status')
        div(class='main__games')
            div(class='main__game-info')
                h3(class='main__game-info-title')=game.title
                div(class='main__game-info-left')
                    label(for="publisher") Publisher(s):
                    li(class='main__game-info-publisher' name='publisher')=game.publisher
                    label(for="developer") Developer(s):
                    li(class='main__game-info-developer' name='developer')=game.developer
                    label(for="releaseDate") Release Date:
                    li(class='main__game-info-releaseDate' name='releaseDate')=releaseDate
                    label(for="publisher") Console(s):
                    li(class='main__game-info-consoles' name='console')=consoles
                div(class='main__game-info-right')
                    label(for="description") Description:
                    li(class='main__game-info-description' name='description')=game.description
            div(class='main__game-ratings')
                if req.session.user
                    div(class='main__game-ratings-add')
                        h3(class='main__game-ratings-add-header') Add Rating/Review
                        span(class="main__game-ratings-error")
                        +createStars()
                        textarea(class='main__game-ratings-add-review' placeholder='Please enter your review here')
                        button(class='main__game-ratings-add-button' name='POST') Submit
                    div(class='main__game-ratings-edit main__game--hidden')
                        h3(class='main__game-ratings-edit-header') Your Rating/Review
                        button(class='main__game-ratings-edit-button') Edit
                        button(class='main__game-ratings-delete-button') Delete
                        div(class='main__game-ratings-user')
                div(class='main__game-ratings-all-container')
                    h3(class='main__game-ratings-all-header') Ratings/Reviews
                    if req.session.user
                        each userReview in userReviews
                            if userReview.id !== user.id
                                div(class='main__game-ratings-all')
                                    div(class='main__game-ratings-all-username_and_stars')
                                        h4(class='main__game-ratings-all-username')=userReview.userName
                                        +loadStars(userReview.Rating.overall)
                                    div(class='main__game-ratings-all-review') #{userReview.Rating.body}
                    else
                        each userReview in userReviews
                            div(class='main__game-ratings-all')
                                div(class='main__game-ratings-all-username_and_stars')
                                    h4(class='main__game-ratings-all-username')=userReview.userName
                                    +loadStars(userReview.Rating.overall)
                                div(class='main__game-ratings-all-review') #{userReview.Rating.body}
    if req.session.user
        div(class='req__exists')
