extends layout.pug
include includes/utils.pug

append head
    link(rel='stylesheet' href='./stylesheets/signup.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")

block content
    div(class="main__container")
        form(action="/signup", method="post")
            div(class="sub__container")
                h1 Sign Up
                div(class="form__container")
                    div
                        div(class='form__labels')
                            label First Name
                        input(type="text", placeholder="John", name="firstName", value=user.firstName, required)
                    div
                        div(class='form__labels')
                            label Last Name
                        input(type="text", placeholder="Wick", name="lastName", value=user.lastName, required)
                    div
                        div(class='form__labels')
                            label Username
                        input(type="text", placeholder="username", name="userName", value=user.userName, required)
                    div
                        div(class='form__labels')
                            label Email
                        input(type="email", placeholder="example@mail.com", name="email", value=user.email, required)
                    div
                        div(class='form__labels')
                            label Password
                        input(type="password", placeholder="password", name="password", value=user.password, required)
                div(class="preferences__container")
                    h4 Please choose a preferred console type
                    each console in consoles
                        input(type="checkbox", name=console.name, unchecked)
                        label(for=console.name) #{console.name}
                div(class="buttons_container")
                button(type="submit" class='signup') Sign Up
            div(class="errors")
                +validationErrorSummary(errors)
